// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
  
.loading{
  text-align: center;
}
  .toastCss{
    position: fixed;
    text-align: center;
    font-size:30px;
    top: 200px;
  }
  .highCss{
    position: fixed;
    text-align: center;
    .toast-message {
      color: #a94442;
     }
    .toast-wrapper {
      background: #f2dede;
    }
    font-size:30px;
    top: 200px;
  }
  .goodCss{
    position: fixed;
    text-align: center;
    .toast-message {
      color: #3c763d; 
    }
    .toast-wrapper {
      background: #dff0d8;
    }
    font-size:30px;
    top: 200px;
  }
  .lowCss{
    position: fixed;
    text-align: center;
    .toast-message {
      color: #31708f;
    }
    .toast-wrapper {
      background: #d9edf7;
    }
    font-size:30px;
    top: 200px;
}
